
@{
    ViewBag.Title = "Des_Agente";
}
<!-- Boootstap style-->
<link rel="stylesheet" href="~/css/bootstrap.min.css" />

<h2>Des_Agente</h2>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/JS/Des_Agente.js"></script>