
@{
    ViewBag.Title = "Des_Agente";
    Layout = null;
}
<!-- Boootstap style-->
<link rel="stylesheet" href="~/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>

<h2>Des_Agente</h2>

<canvas id="Grafica" width="400" height="400"></canvas>


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/JS/Des_Agente.js"></script>
